
@{
    ViewBag.Title = "SuperAdmin";
    Layout = "~/Views/Shared/_SuperAdmin.cshtml";
}


<h2>Welcome Super Admin!</h2>

<h5>Release: @ViewBag.Release</h5>
<h5>Connection string has changed: @ViewBag.ChangedConnectionString</h5>
<h5>Connection String = @ViewBag.ConnectionString</h5>