
@{
    ViewBag.Title = "Version";
    Layout = "~/Views/Shared/_Superadmin.cshtml";
}

<h2>Version</h2>

@* Password vault:
    Peter: Friday!14  // FrontDesk
    Karen: Saturday!15
    Stan: Sunday!16
    Megan: Monday!1  // Interviewer
    Don: Monday!1
    Ken: Monday!1
    Mark: Monday!1
    Michael: Monday!15  // BackOffice
    Client1: Daily!1
    Client2: Daily!2
    Screener: Daily!0
    Greeter: Daily!0
    TicketMaster: Daily!3
    CheckMaster: CheckMaster!1  // Backoffice
*@

<ul>
    <li>Merged from staging branch on 9/8/19</li>
    <li>Merged from staging branch on 9/13/19</li>
    <li>Merged from staging branch on 9/14/19</li>
    <li>Made Service Ticket fit on a single page. 9/16/19</li>
    <li>Supported "other" supporting document with a textbox. 9/23/19</li>
    <li>Refactored printing of Service Tickets. 11/16/19</li>
    <li>Added today's date to service tickets. 11/17/2019</li>
    <li>Merged OPIDChecks with OPIDDaily. 2/6/2020</li>
    <li>Added CheckMaster user in BackOffice role. 2/7/2020</li>
    <li>Added support for Requested Item field in merging of OPID Daily, Bounded Research, and Import from Access DB reports. 2/17/2020</li>
    <li>Added Prepare Visits Only button. 2/18/2020</li>
    <li>Added support for Ancient Checks. 2/22/2020</li>
    <li>Added log4net for error logging. 3/5/2020</li>
    <li>Added support for pre-approved items. 3/6/2020</li>
    <li>Merged pre-appoved items support from staging branch on 3/9/2020</li>
    <li>Merged Remote OPID support from staging branch on 3/16/2020</li>
    <li>Added Client White Sheet Contact Info. 3/20/2020</li>
    <li>Added support for households. 3/24/2020</li>
    <li>Fixed Agency management. 3/26/2020</li>
    <li>Added demo capability. 4/2/2020</li>
    <li>Added service requests dashboard display. 4/4/2020</li>
    <li>Added "How it Works" instructions. 4/16/2020</li>
    <li>Copyright changed to Main Street Ministries. 4/17/2020</li>
    <li>Added color coding. 4/25/2020</li>
    <li>Created training site. 5/7/2020</li>
</ul>

