
@{
    ViewBag.Title = "Version";
    Layout = "~/Views/Shared/_Superadmin.cshtml";
}

<h2>Version</h2>

@* Password vault:
    Peter: Friday!14  // FrontDesk
    Karen: Saturday!15
    Stan: Sunday!16
    Megan: Monday!1  // Interviewer
    Don: Monday!1
    Ken: Monday!1
    Mark: Monday!1
    Michael: Monday!15  // BackOffice
    Client1: Daily!1
    Client2: Daily!2
    Screener: Daily!0
*@

<ul>
    <li>Merged from staging branch on 9/8/19</li>
    <li>Merged from staging branch on 9/13/19</li>
    <li>Merged from staging branch on 9/14/19</li>
    <li>Made Service Ticket fit on a single page. 9/16/19</li>
    <li>Supported "other" supportieng document with a textbox. 9/23/19</li>
</ul>

