    body { 
    }

    /* https://stackoverflow.com/questions/1664049/can-i-force-a-page-jump-in-html-printing/1664058 */
    @media print {
      .pagebreak {
        page-break-before: always;
       }
    }

    th {
        text-align: center;
    }

    table {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        border-collapse: collapse;
        height: 30px;
    }

    /* https://stackoverflow.com/questions/5684144/how-to-completely-remove-borders-from-html-table */
    .noborder {
        border: none !important
    }


