body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* https://stackoverflow.com/questions/8357058/how-to-make-a-href-link-look-like-a-button */
.button {
    display: block;
    width: 215px;
    height: 45px;
    background: #CCCCCC;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.greenbar {
   width: 100%;
   height: 7px;
   background: green;
   position: fixed;
   top: 50px;
   left: 0;
}

.redbar {
    width: 100%;
    height: 7px;
    background: red;
    position: fixed;
    top: 50px;
    left: 0;
}

.hideConversation {
    display: none;
}

.hideMessages {
    display: none;
}
