

@{
    ViewBag.Title = "Case Manager";
    Layout = "~/Views/Shared/_CaseManager.cshtml";
}

<br /><br /><br />
<h2>Welcome to OPID Daily!</h2>

<h3>How it Works for the Case Manager</h3>
<ul>
    <li><strong>Case Manager enters client (and dependents, if any) into list of clients.</strong></li>
    <li><strong>Case Manager creates Service Request for client (and each dependent, if any).</strong></li>
    <li><strong>Case Manager prints Service Ticket.</strong></li>
    <li><strong>Case Manager reviews Service Ticket with client and explains the DISCLAIMER.</strong></li>
    <li><strong>Both client and case manager sign the Service Ticket.</strong></li>
    <li><strong>Case Manager shepherds Service Request through initial Operation ID screening process.</strong></li>
    <li><strong>Case Manager schedules Operation ID phone interview for client.</strong></li>

</ul>
<br />
<h3>How it Works for Operation ID</h3>
<ul>
    <li><strong>Operation ID monitors a dashboard of client Service Requests from partner agencies.</strong></li>
    <li><strong>Operation ID sends an ACK upon the receipt of a client Service Request.</strong></li>
    <li><strong>Operation ID keeps Case Managers informed of status of client Service Request during screening process.</strong></li>
    <li><strong>Operation ID determines eligibility of each client Service Request.</strong></li>
    <li><strong>A client may be ineligible for an ID request (XID) or ineligible for a BC request (XBC) or both.</strong></li>
    <li><strong>Operation ID informs Case Manager about eligibility for client phone interview.</strong></li>
</ul>
