@if (Config.Release.Equals("Desktop"))
{
    <div class="greenbar"></div>
}
else if (Config.Release.Equals("Staging"))
{
    <div class="redbar"></div>
}
else if (Config.Release.Equals("Training"))
{
    <div class="greenbar"></div>
}
