
<table id="signatureBlock" style="border-collapse: collapse; border: none;" width="100%">
    <tr>
        <td class="noborder" width="300">Client:____________________________</td>
        <td class="noborder" width="100">Date:&nbsp;&nbsp;@ViewBag.TicketDate</td>
        <td class="noborder" width="400">&nbsp;&nbsp;Interviewer:____________________________</td>
    </tr>
</table>
 

