
<table id="signatureBlock" style="border-collapse: collapse; border: none;" width="100%">
    <tr>
        <td class="noborder" width="300">Client:_______________________</td>
        <td class="noborder" width="100">Date:____________</td>
        <td class="noborder" width="400">Interviewer:_______________________</td>
    </tr>
</table>
 

