@model OPIDDaily.Models.RequestedServicesViewModel

@{
    ViewBag.Title = "Service Ticket";
    Layout = "~/Views/Shared/_BackOffice.cshtml";
}

<br /><br /><br />

<style>
    input[type="checkbox"] {
        transform: scale(0.75,0.75);
    }
</style>

<br />
<h3>Existing Client: @ViewBag.ClientName</h3>
<h4>DOB: @ViewBag.DOB (Age @ViewBag.Age)</h4>
<br />

<div class="row">
    <div class="col-md-12">
        <section id="expressClientForm">
            @Html.Partial("_ReadOnlyRequestedServices", Model)
        </section>
    </div>
</div>
