
@{
    ViewBag.Title = "Pocket Checks Report";
    Layout = "~/Views/Shared/_BackOffice.cshtml";
}

<br /><br /><br />

<div>
    <table id="pocketChecksReportGrid"></table>
    <div id="pocketChecksReportPager"></div>
</div>

<link href="@Url.Content("~/Content/jquery.jqGrid/copied.ui.jqgrid.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

 

<script type="text/javascript" src="@Url.Content("~/Scripts/PocketChecks/PocketChecksReport.js")"></script>

